<html>
   <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
  </head>
  <body style="text-align: center;background-color: rgb(254,230,215)">
    <h3>Enter some task to add.</h3>
    <a href="/"><button style= "border-radius: 12px;background-color: white;
  color: black;border: 2px solid rgb(0,7,109);font-size: 16px;padding: 10px;
  width: 120px"><i class="fas fa-angle-double-left"></i> Homepage </button></a>
  </body>
</html>
